/* Home */

.contentInfo .contentInfoBox{
  max-width: 100%;
  height: 54vh;
  /* border: 5px solid #000; */
  background: url('/home/aisha/Documents/Development/phase5/pod-club/frontend/src/components/assets/background-image.png');
  
  background-position: center;
  background-size: cover;
  padding: 5%;
}
.contentInfoBoxText{
  /* border: 3px solid black; */
  width: 100%;
  height: 35vh;
  position: relative;
}
.contentInfo .contentInfoBox h1{
  font-size: 50px;
  margin-bottom: 30px;
  margin-top: 50px;
  /* border: 4px solid green; */
}
.contentInfo .contentInfoBox p{
  line-height: 1.3;
  font-size: 20px;
}
.buttons{
  display: flex;
  position: absolute;
  width: 40%;
  bottom: 0;
  align-items: center;
  justify-content: space-around;
}
.buttons button{
  cursor: pointer;
  padding: 20px 45px;
  border: 0;
  outline: none;
  border-radius: 50px;
  background: #fff;
  /* background: linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.5)); */

  color: #333;
  font-weight: 700;
  transition: .5s ease;
}
.buttons button:hover{
  transform: scale(1.1);
}
.footer{
  max-width: 100%;
  bottom: 0;
  background: red;
  /* min-height: 41.3vh; */
}
@media (max-width: 768px) and (orientation: portrait) {
  .footer{
      margin-bottom: 10px;
  }
}


/* Home */

/* Footer */
.Footers{
  background: rgb(10, 10, 32);
  width: 100%;
  /* height: 34.99vh; */
  height: auto;
  position: absolute;
  bottom: 0;
}
.FooterBotom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
  color: #fff;
  /* border:3px solid red */
}

.footerBox{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 30%;
}
.LG{
  width: 100px;
}
.bi{
  color: #fff;
  font-size: 40px;
}

.Lg{
  width: 90px;
  cursor: pointer;
}
/* Footer */