/* Home */
/* .Container{
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
} */

/* .Sidebar{
  flex-basis: 20%;
  height: 100vh;
  background: #fff;
} */
/* .SidebarContent{
  margin-top: 4%;
  background: #fff;
  width: 100%;
  height: 96vh;
  text-align: center;
  display: block; */
/* } */
/* .LogoImage{
  width: 200px;
  cursor: pointer;
  margin-top: 5%;
}
.Icons{
  display: block;
  width: 100%;
  height: 40vh;
}
.Content{
  display: flex;

  position: absolute;
  width: 10%;
  bottom: 40;

  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin-left: 10%;
  height: 10vh;
}*/

 .MainContainer{
  background: url('/home/aisha/Documents/Development/phase5/pod-club/frontend/src/components/assets/background-image.png'); 
  /* flex-basis: 80%;
  height: 100vh;
  */
  background-position: center;
  background-size: coVER;
  text-align: center;
  text-decoration: white;

  margin-bottom: 10px; 
  
}  


/* Footer */
.Footers{
  background: black;
  width: 80%;
  height: 15%;
  position: fixed;
  bottom: 0;
  margin-top: 10px;
} 

.FooterBotom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  color: #fff;
  background: black;
  
  width: 100%;
  margin-top: -50px;
  height: 10vh;
}

.footerBox{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 20%;
}

.bi{
  color: #ffffff;
  font-size: 40px;
}

.bi-youtube {
  color: red;
}

.bi-facebook {
  color: rgb(15, 15, 224);
}

.bi-twitter {
  color: rgb(23, 131, 231);
}

.bi-linkedin {
  color: rgb(114, 81, 233);
}

.bi-google {
  color: #64d11b;
}
 

.Lg{
  width: 200px;
  cursor: pointer;
  padding-left: 20px;
} 
/* Footer */