/* Home */

.contentInfo .contentInfoBox{
  max-width: 100%;
  height: 54vh;
  border: 0px solid #000;
  background: url('/home/amina/development/projects/phase-5/pod-club/frontend/src/components/assets/background-image.png');
  background-position: center;
  background-size: cover;
  padding: 9%;
}
.contentInfoBoxText{
  width: 90%;
  height: 35vh;
  position: absolute;
}
.contentInfo .contentInfoBox h1{
  font-size: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #9b9898;

}
.contentInfo .contentInfoBox p{
  line-height: 1.3;
  font-size: 20px;
  color: #9b9898;
}
.buttons{
  display: flex;
  position: absolute;
  width: 10%;
  bottom: 40;
  align-items: center;
  justify-content: space-around;
}
.buttons button{
  cursor: pointer;
  padding: 20px 45px;
  border: 0;
  outline: none;
  border-radius: 50px;
  background: #e9e6e6;
  color: #333;
  font-weight: 900;
  transition: .5s ease;
}

.buttons button:hover{
  transform: scale(1.1);
}

.button-get-started {
  padding: 16px 32px;
  background-color: #f2f5f8;
  border: none;
  border-radius: 32px;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button-get-started:hover {
  background-color: #79797a;
}

/* Home */


/* Footer */
.Footers{
  background: black;
  width: 100%;
  height: 30%;
  position: fixed;
  bottom: 0;
}

.FooterBotom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  color: #fff;
}

.footerBox{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 20%;
}

.bi{
  color: #ffffff;
  font-size: 40px;
}

.bi-youtube {
  color: red;
}

.bi-facebook {
  color: rgb(15, 15, 224);
}

.bi-twitter {
  color: rgb(23, 131, 231);
}

.bi-linkedin {
  color: rgb(114, 81, 233);
}

.bi-google {
  color: #64d11b;
}


.Lg{
  width: 200px;
  cursor: pointer;
}
/* Footer */